.span16
  = form_tag url_for(:controller => "schedules", :action => 'show_friend'), {:remote => true, :method => :post, :id => 'suggest_form'} do
    = text_field_tag "name", nil, :placeholder => 'Enter search term...', :class => 'span16', :id =>'fb_suggest'
    = submit_tag "Search", :class => "btn"

#result
  #user_info.span16
    .span3
      = image_tag "http://placehold.it/90x90"
    .span4
      %h3 David Chang
      %h4 b00902090
  .schedule.span16
    = render "schedules/show"