.user_info.span16
  %h2 #{user.name}'s Schedule
  .fun
    - set_list = current_user.schedule_sets.map{|s| [s.name,s.id]} << ["Create New Set",0]
    = form_tag add_schedule_to_schedule_sets_path, :remote => true, :id => 'add_to_set_form' do
      = select "schedule_set", "id", set_list, {:include_blank => false, :prompt => 'Select a schedule set to add'}, :id => 'add_to_set_select'
      = hidden_field_tag "schedule_id", user.schedule.id 
      = submit_tag "Add", :class => "btn success small", :disable_with => "Adding..."
  
  #new_set.modal.hide.fade
    .modal-header
      %a{:href => '#', :class => 'close'}x
      %h3 Create a new Schedule Set
    .modal-body
      = form_tag create_empty_schedule_sets_path(ScheduleSet.new), :remote => true, :id => 'create_new_set_form' do
        = label_tag :name, "Input Set Name:"
        .input
          = text_field_tag :name
    .modal-footer
      = submit_tag "Create", :class => "btn primary", :id => 'create_new_set_btn'
