- hash = get_info_hash(schedule_set)
%table.schedule_set_table.bordered-table
  %thead
    %tr
      %th#first-column #
      %th Monday
      %th Tuesday
      %th Wednesday
      %th Thursday
      %th Friday
      %th Saturday
  %tbody
    - (1...15).each do |time|
      %tr
        %td= time
        - (0...6).each do |day|
          - if hash[day][time].empty?
            %td
          - else
            %td
              - hash[day][time].slice(0..1).each do |lesson|
                = image_tag "http://graph.facebook.com/#{lesson[:user].facebook_uid}/picture?type=square",
                  :class => 'small_profile twip', "title" => "#{lesson[:name]}" + ("(#{lesson[:location]})" if lesson[:location]).to_s
              - if hash[day][time].size > 2
                .more-block
                  = "#{hash[day][time].size - 2}+"
                .more-users.hide.fade.modal
                  .modal-header
                    %a{:href => '#', :class => 'close'}x
                    %h3= "#{hash[day][time].size} people have classes"
                  .modal-body
                    %ul
                      - hash[day][time].each do |lesson|
                        %li
                          .image_block
                            .profile
                              = image_tag "http://graph.facebook.com/#{lesson[:user].facebook_uid}/picture?type=square"
                            .content
                              %a{:href => '#'}= lesson[:user].name 
                              = "#{lesson[:name]}" + ("(#{lesson[:location]})" if lesson[:location]).to_s
